.bodybtn {  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    margin: 0;  
    padding: 20px;  
}  

.containerpro {  
    max-width: 70%;  
    margin: auto;  
    background: white;  
    padding: 20px;  
    border-radius: 8px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
    margin-top: 25px;
}  

.contac1 {  
    text-align: left;  
    color: #000000; 
    border-bottom: 1px solid #CCCCCC; 
    padding: 10px;
    font-size: 40px;
    font-weight: 600;
}  

  

.form-info {  
    display: flex;
    padding-top: 15px;  
}  

.form-section {  
    flex: 1;  
    padding-right: 20px;  
}  

.info-section {  
    flex: 1;  
    padding-left: 20px;  
}  

.btn-formpt {  
    padding: 20px;
    display: flex;  
    flex-direction: column;  
}  

.btn-labelpt {  
    margin: 10px 0 5px; 
}  

.btn-inputlpt {  
    padding: 10px;  
    border: 1px solid #cccccc;  
    border-radius: 5px;
    outline: none;
    height: 38px;
    transition: border-color 0.3s;
}  

.btn-inputlpt:focus {  
    border-color: #cccccc;
}  

.btn-textareapt {
    padding: 10px;  
    border: 1px solid #cccccc;  
    border-radius: 5px;
    height: 75px;
    outline: none;
    transition: border-color 0.3s;
    resize: none;
}

.btn-textareapt:focus{
    border-color: #cccccc;
}


.btn-buttonpt {  
    margin-top: 20px;  
    padding: 10px;  
    background-color: #FF0000;  
    color: white;  
    border: none;  
    border-radius: 10px;  
    cursor: pointer;
    font-size: 20px; 
    height: 50px; 
}  

.btn-buttonpt:hover {  
    background-color: #eb1111;  
}  

.info-section .contac2 {  
    color: #000000;
    font-size: 30px;
    padding-top: 20px;
    font-weight: 600;  
}
