@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

/* Add your own CSS code here */
a {  
    text-decoration: none;  
} 

.login-container{
    height: 100vh;
}

.logo-container{
    display: none;
}

.login{
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    color: hsl(223, 10%, 10%);
    font: 1em/1.5 "DM Sans", sans-serif;
}

.form_login{
    position: relative;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 193px;
}

.form-loginpro{
    width: 150%;
    margin-bottom: 20px;
    font-size: 14px;
    color: #666666;
}

.column{
    width: 38%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    padding: 1.5em;
    position: relative;
    overflow-y: scroll !important;   
    scrollbar-width: none !important;
}

.background-btn{
    background-color: white !important;
    border-radius: 0.75em !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerpro{
    position: absolute;
    width: 100%;
    height: auto;
    margin-right: 68%;
    margin-top: -30px;
    top: 0;
}

.img-header{
    width: 140px;
    height: auto;
}

.logo-pro{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    line-height: 1;
    margin: auto;
    width: 9rem;
}

.form{
    width: 22em;
    flex-shrink: 0;
    margin: 3em 0;
    height: min-content;
    margin-top: -10px;
}

h1{
    font-size: 2em;
    margin: 0 0 1.5rem;
    text-align: center;
}

.segmented{
    position: relative;
    padding: 3px;
    background-color: hsl(233, 10%, 90%);
    border-radius: 0.75em;
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
    min-height: 3em;
    color: black;
}

.segmented-btn{
    border-radius: 0.875em;
    box-shadow: 0 0 0 0.1875em var(--focus-t) inset;
    color: hsl(223, 10%, 40%);
    cursor: pointer;
    outline: transparent;
    padding: 0.75em;
    width: 100%;
    background-color: transparent;
    position: relative;
    z-index: 1;
    color: black;
}

.segmented-btn:hover {
    color: black;
}

.segmented-btn[aria-selected=true]{
    color: hsl(223, 10%, 10%);
}

.segmented_focus{
    background-color: white;
    border-radius: 0.625em;
    pointer-events: none;
    position: absolute;
    top: 0.25em;
    bottom: 0.25em;
    left: 11.25em !important;
    width: calc(50% - 0.5em);
}

.field{
    position: relative;
    margin-bottom: 2.25em;
}
.top-field{
    margin-top: -10px;
}
.padding-field{
    padding-top: 20px;
}

.input-textbox{
    width: 100%;
    background-color: transparent;
    border-radius: 0.75em !important;
    box-shadow: 0 0 0 0.125em hsl(233, 10%, 80%) inset;
    outline: transparent;
    padding: 0.9em 0.9em 0.9em 0.9em !important;
    padding-inline-end: 3.5em;
    appearance: none;
}



.btn{
    width: 100%;
    background-color: #FF0000;
    border-radius: 0.75em !important;
    box-shadow: 0 0 0 0.1em hsl(223deg 10% 90% / 0%),
                0 0 0 0.3em hsl(223deg 90% 50% / 0%);
    color: white;
    margin-bottom: 1.5em;
    padding: 0.9em !important;
    cursor: pointer;
    display: block;
    outline: transparent;
}

.or-pass{
    color: black;
    font-size: 0.85em;
    margin-top: -10px;
    cursor: pointer;
    margin-bottom: 2.25em;
    font-weight: 500;
}

.or{
    color: hsl(223, 10%, 40%);
    display: flex;
    align-items: center;
    font-size: 0.75em;
    line-height: 2;
    margin-bottom: 1.5em;
    text-align: center;
}

.or:before,
.or:after{
    background-color: hsl(223, 10%, 70%);
    content: "";
    display: block;
    flex: 1;
    height: 1px;
}

.or:before{
    margin-inline-end: 0.75em;
}

.or:after{
    margin-inline-start: 0.75em;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    margin-bottom: 1.5em;
}

.social-btn{
    width: 3.4em;
    height: 3.4em;
    border-radius: 50%;
    box-shadow: 0 0 0 0.2em hsl(223deg 90% 50% / 0%);
    cursor: pointer;
    outline: transparent;
}



.column--bg{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 0;
    overflow: hidden;
}

.bg-img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (max-width: 1200px) {  
    body{
        width: 100%;
    }
    .login {  
        flex-direction: column; 
    }  

    .logo-container {  
        display: block;
        margin-bottom: 1em;
        margin-left: -80%;

    }  

    .logopro{
        width: 100px;
        height: auto;
        display: flex;
        align-items: end;
    }

    .form-loginpro{
        width: 100%;
        text-align: justify;
    }

    .column {  
        width: 100%; 
        overflow-y: auto;
        overflow-x: hidden;
    }  

    .form {  
        width: 90%;
    }  

    .form_login{
        margin-top: 20px !important;
    }

    h1 {  
        font-size: 1.5em; 
    }  

    .social {  
        flex-direction: row; 
    }  

    .social-btn {  
        width: 2.5em;
        height: 2.5em;   
    }  

    .btn {  
        padding: 0.8em;
    }  

    .or-pass, .or {  
        font-size: 0.7em; 
    } 
    .header{
        display: none;
    } 
    .column--bg{
        display: none;
    }
}  
